<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-evenly mt-5 about-font">
        <h2 class="feed-title">About Us</h2>
        <p>Have you ever wanted to see how your photographer peers are composing their shots?  Photographers constantly search for inspiration and also information, how many times have you encountered a photo and wondered what the iso, aperture, and shutter speed were to achieve that look? We love to see the details when it comes to making a photo as it can influence and help us think outside of our own creative bubble. We made Golden Image to promote amazing photos taken by talented individuals and spark dialogue around the photo taking process.</p>

        <span>Thanks for everything,</span>
        <span><strong>The Golden Image Team</strong></span>
    </div>
    <div class="row justify-content-evenly mt-5">
        <img src="cover.jpeg" alt="logo">
    </div>
</main>
    

<%- include('partials/footer') -%>