<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around index-image pb-5">
        <img src="logo4.svg" alt="logo">
    </div>
    <div class="row justify-content-around">
        <a href="/login" class="col-3 btn btn-primary btn-lg main-buttons"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary btn-lg main-buttons"> Signup</a>
    </div>
</main>
    

<%- include('partials/footer') -%>